.employee-form{
    width: 500px;
    height: auto;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 30px;
}

.employee-form   table > tbody > tr > td > input,
.employee-form   table > tbody > tr > td > select,
.employee-form   table > tbody > tr > td > label{
    margin-top: 10px;
    margin-bottom: 20px;
    padding-right: 20px;
}

.employee-form span{
    color: red;
    display: none;
}

.employee-form input:invalid ~ span{
    display: block;
}

form:invalid button{
    opacity: 0.3;
    pointer-events: none;
}